# Database
DATABASE_URL=postgresql://user:pass@host/db?sslmode=require

# AI
GROQ_API_KEY=
TOGETHER_API_KEY=
HF_API_TOKEN=

# AI Model Config
LLM_LIGHT_PROVIDER=groq
LLM_LIGHT_MODEL=llama-3.1-8b-instant
LLM_CHAT_PROVIDER=groq
LLM_CHAT_MODEL=llama-3.3-70b-versatile
